<div class="playerContainer">
  <header>
    <img src="../../../assets/playing.svg" alt="Tocando agora" />
    <strong>Tocando agora</strong>
  </header>

  <div class="emptyPlayer">
    <strong>Selecione um podcast para ouvir</strong>
  </div>

  <footer>
    <div class="progress">
      <span>00:00</span>
      <div class="slider">
        <div class="emptySlider"></div>
      </div>
      <span>00:00</span>
    </div>

    <div class="buttons">
      <button type="button">
        <img src="../../../assets/shuffle.svg" alt="Aleatório" />
      </button>
      <button type="button">
        <img src="../../../assets/play-previous.svg" alt="Tocar anterior" />
      </button>
      <button type="button" class="playButton">
        <img src="../../../assets/play.svg" alt="Tocar" />
      </button>
      <button type="button">
        <img src="../../../assets/play-next.svg" alt="Tocar próxima" />
      </button>
      <button type="button">
        <img src="../../../assets/repeat.svg" alt="Repetir" />
      </button>
    </div>
  </footer>
</div>
