<div class="wrapper">
  <main>
    <app-header></app-header>

    <div class="content">
      <section class="latestEpisodes">
        <h2>Últimos lançamentos</h2>

        <ul>
          <li *ngFor="let latestEpisode of latestEpisodes">
            <p>{{ latestEpisode.title }}</p>
          </li>
        </ul>
      </section>

      <section class="allEpisodes">
        <h2>Todos episódios</h2>

        <p *ngFor="let episode of episodes">
          {{ episode.title }}
        </p>
      </section>
    </div>
  </main>

  <app-player></app-player>
</div>
